<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ukr.mova"
		versionCode = "1"
        version     = "0.1.0.7">

    <name>Mova</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        PhoneGap Team
    </author>

	<!--
        Platform build selection
    -->
	<gap:platform name="ios" />
	<gap:platform name="android" />

    <!--
        Permissons
    -->
    <preference name="permissions" value="none"/>

	<!-- API Features -->
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

    <!--
        Preferences
    -->
    <!-- Multi-Platform -->
    <preference name="phonegap-version"           value="cli-5.2.0" />      <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="DisallowOverscroll"         value="true" />
    <!-- iOS Only -->
    <preference name="target-device"              value="universal" />      <!-- ios: possible values handset, tablet, or universal -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="detect-data-types"          value="false" />          <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="AutoHideSplashScreen"       value="false" />
    <preference name="FadeSplashScreen"           value="true" />
    <preference name="FadeSplashScreenDuration"   value="0.5" />
    <preference name="ShowSplashScreenSpinner"    value="false" />
    <!-- Android Only -->
    <preference name="android-minSdkVersion"      value="14" />             <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-targetSdkVersion"   value="19" />
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="SplashScreen"               value="splash" />
    <preference name="SplashScreenDelay"          value="5000" />

    <!--
        Config File
    -->
    <!-- iOS Only -->
    <gap:config-file platform="ios" parent="CFBundleAllowMixedLocalizations" overwrite="true">
        <true/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true">
        <true/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
        <false/>
    </gap:config-file>

    <!--
        Plugins
    -->
    <!-- Core plugins -->
    <gap:plugin name="cordova-plugin-console" source="npm" />
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />

    <!-- Third party plugins -->
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="391185391051135" />
        <param name="APP_NAME" value="ukr-mova.in.ua" />
    </gap:plugin>

    <gap:plugin name="cordova-plugin-googleplus" source="npm">
      <param name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.73453093308-ikfohjlm89d14vssj0ukrpol5ttvcjhk" />
    </gap:plugin>

    <!--
        Icon
     -->
    <!-- Android -->
    <icon src="resources/icon/android/icon-36-ldpi.png"     gap:platform="android" gap:qualifier="ldpi" />
    <icon src="resources/icon/android/icon-48-mdpi.png"     gap:platform="android" gap:qualifier="mdpi" />
    <icon src="resources/icon/android/icon-72-hdpi.png"     gap:platform="android" gap:qualifier="hdpi" />
    <icon src="resources/icon/android/icon-96-xhdpi.png"    gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="resources/icon/android/icon-144-xxhdpi.png"  gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="resources/icon/android/icon-192-xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />

    <!-- iOS 8.0 -->
    <!-- iPhone 6 Plus -->
    <icon src="resources/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <!-- iOS 7.0 -->
    <!-- iPhone / iPod Touch  -->
    <icon src="resources/icon/ios/icon-60.png"    gap:platform="ios" width="60" height="60" />
    <icon src="resources/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <!-- iPad -->
    <icon src="resources/icon/ios/icon-76.png"    gap:platform="ios" width="76" height="76" />
    <icon src="resources/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- Settings Icon -->
    <icon src="resources/icon/ios/icon-small.png"    gap:platform="ios" width="29" height="29" />
    <icon src="resources/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <!-- Spotlight Icon -->
    <icon src="resources/icon/ios/icon-40.png"    gap:platform="ios" width="40" height="40" />
    <icon src="resources/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <!-- iOS 6.1 -->
    <!-- iPhone / iPod Touch -->
    <icon src="resources/icon/ios/icon.png"    gap:platform="ios" width="57" height="57" />
    <icon src="resources/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
    <!-- iPad -->
    <icon src="resources/icon/ios/icon-72.png"    gap:platform="ios" width="72" height="72" />
    <icon src="resources/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="resources/icon/ios/icon-small.png"    gap:platform="ios" width="29" height="29" />
    <icon src="resources/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="resources/icon/ios/icon-50.png"    gap:platform="ios" width="50" height="50" />
    <icon src="resources/icon/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />

    <!-- Windows Phone -->
    <icon src="resources/icon/windows-phone/icon-48.png"       gap:platform="winphone" />
    <icon src="resources/icon/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background" />

    <!--
        Splashscreen
    -->
    <!-- Android -->
    <gap:splash src="resources/splash/android/splash-port-ldpi.png"  gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="resources/splash/android/splash-port-mdpi.png"  gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="resources/splash/android/splash-port-hdpi.png"  gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="resources/splash/android/splash-port-xhdpi.png" gap:platform="android" gap:qualifier="port-xhdpi" />

    <!-- iPhone 6 Plus and iPhone 6 -->
    <gap:splash src="resources/splash/ios/Default-667h@2x~iphone.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="resources/splash/ios/Default-736h@2x~iphone.png" gap:platform="ios" width="1242" height="2208" />
    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="resources/splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
    <!-- iPhone and iPod touch -->
    <gap:splash src="resources/splash/ios/Default~iphone.png"    gap:platform="ios" width="320" height="480" />
    <gap:splash src="resources/splash/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />
    <!-- iPad -->
    <gap:splash src="resources/splash/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="resources/splash/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768" />
    <!-- Retina iPad -->
    <gap:splash src="resources/splash/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="resources/splash/ios/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1536" />

    <!-- Windows Phone -->
    <gap:splash src="resources/splash/windows-phone/screen-portrait.png" gap:platform="winphone" />

	<!--
        Define access to external domains
    -->
	<access origin="*" />

</widget>
